a, a:link, a:visited{text-decoration: none;color: inherit;}

.a-hover:hover{text-decoration: underline;}

.ftr{
  float: right
}
.ftl{
  float: left
}
.clr{
  clear: both;
}

.ma8{margin: 8px;}
.mb65{margin-bottom: 65px;}

.opacity06{opacity: 0.6}

.font6{font-size: 0.6em;}
.font7{font-size: 0.7em;}
.font8{font-size: 0.8em;}
.font85{font-size: 0.85em;}
.font9{font-size: 0.9em;}
.font11{font-size: 1.1em;}
.font12{font-size: 1.2em;}
.font15{font-size: 1.5em;}
.font18{font-size: 1.8em;}
.font22{font-size: 2.2em;}
.font30{font-size: 3.0em;}

.fontw500{font-weight: 500;}
.fontw600{font-weight: 600;}
.fontw700{font-weight: 700;}
.fontw800{font-weight: 800;}

.round_image{border-radius: 50%;}

.data-table th{
  text-align: center !important;
  padding: 0px !important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details{
  margin-bottom: 4px !important;
}

.box_shadow_common{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.05) !important;
}

.cursor-p{
  cursor: pointer;
}

hr{
  border: none;
  height: 1px;
  color: #EEEEEE;
  background-color: #EEEEEE;
}

.borderb{
  border-bottom: 1px solid #E0E0E0;
}
body, nav, .floter_btn, .v-dialog, .v-dialog--fullscreen, .max-w-550, .v-snack{
  max-width: 550px;
}
body, nav{
  -webkit-box-shadow: 0 0 1px 1px #E0E0E0;
  box-shadow: 0 0 1px 1px #E0E0E0;
}

.v-dialog {
  max-width: 550px;
  position: absolute;
  left: 0px;
  margin: 0px !important;
}